<div class="talks-day" ng-repeat="day in eventDetailCtrl.currentTrack.days" on-swipe-left="eventDetailCtrl.selectNextTrack()" on-swipe-right="eventDetailCtrl.selectPreviousTrack()">
    <div class="talks-day-title">
      <h3>{{day.name}}</h3>
    </div>
    <div ng-repeat="talk in day.talks" ng-class="(eventDetailCtrl.favourites.ids.indexOf(talk.id) === -1) ? 'talks-row': 'talks-row favourite'" ng-click="eventDetailCtrl.toggleTalk($index)">
      <div class="talks-row-hour">{{talk.hour}}</div>
      <div class="talks-row-content">
        <span class="talk-title">{{talk.name}}</span>
        <span class="talk-speaker" ng-repeat="speaker in talk.speakers">
          <a href="#" ng-click="eventDetailCtrl.selectSpeaker(speaker); $event.stopPropagation();">{{eventDetailCtrl.speakers[speaker].name}}</a>
        </span>
        <div ng-show="$index === eventDetailCtrl.openedTalk" class="talk-abstract">{{talk.abstract}}</div>
        <div class="tagline">
          <div ng-repeat="tag in talk.tags" class="tag" style="border-left: 8px solid {{tag.color}};">{{tag.tag}}</div>
        </div>
      </div>
      <div ng-hide="talk.break == true" class="talks-row-btn" ng-click="eventDetailCtrl.toggleFavourite(talk, day.name, $parent.$index); $event.stopPropagation();"><i class="icon-heart"></i></div>
    </div>
</div>
