<nav class="event-mobile" id="event-mobile" ng-style="eventDetailCtrl.menuStyle">
  <ul>
    <li><img src="images/eve.svg" border="0" class="icon-eve"></li>
    <li><a href="#" ng-click="eventDetailCtrl.setCurrent('info')">Info</a></li>
    <li><a href="#" ng-click="eventDetailCtrl.setCurrent('agenda')">Agenda</a></li>
    <li><a href="#" ng-click="eventDetailCtrl.setCurrent('speakers')">Speakers</a></li>
    <li><a href="#" ng-click="eventDetailCtrl.setCurrent('location')">Location</a></li>
    <li><a href="#" ng-click="eventDetailCtrl.setCurrent('favourites')">Favourites</a></li>
    <li><a href="#" ng-click="eventDetailCtrl.navigateTo('/events')">Events list</a></li>
  </ul>
</nav>
