<div ng-controller="EventDetailCtrl as eventDetailCtrl">


    <div class="row">
      <header class="full block">
        <div class="eve-logo inline-block" ng-click="eventDetailCtrl.navigateTo('/events')"><a href="#"><img src="images/eve-text.png" border="0"></a></div>
        <div class="eve-icon inline-block"><img src="images/eve.svg" border="0"></div>
      </header>
    </div>
    <div class="row">
      <div class="content">
        <section class="event-content">
          <div class="event-header"><i id="talks-nav-icon" class="icon-bubbles"></i>
            <h1 class="full">{{eventDetailCtrl.eventDetail.name}}</h1>
            <nav class="event-nav">
              <ul>
                <li><a href="#" ng-class="{'current': eventDetailCtrl.current === 'info'}" ng-click="eventDetailCtrl.setCurrent('info')">Info</a></li>
                <li><a href="#" ng-class="{'current': eventDetailCtrl.current === 'agenda'}" ng-click="eventDetailCtrl.setCurrent('agenda')">Agenda</a></li>
                <li><a href="#" ng-class="{'current': eventDetailCtrl.current === 'speakers'}" ng-click="eventDetailCtrl.setCurrent('speakers')">Speakers</a></li>
                <li><a href="#" ng-class="{'current': eventDetailCtrl.current === 'location'}" ng-click="eventDetailCtrl.setCurrent('location')">Location</a></li>
              </ul>
            </nav><i id="event-nav-icon" class="icon-menu" ng-click="eventDetailCtrl.toggleMenu()"></i>
          </div>
          <nav class="event-mobile" id="event-mobile" ng-style="eventDetailCtrl.menuStyle">
            <ul>
              <li><img src="images/eve.svg" border="0" class="icon-eve"></li>
              <li><a href="#" ng-click="eventDetailCtrl.setCurrent('info')">Info</a></li>
              <li><a href="#" ng-click="eventDetailCtrl.setCurrent('agenda')">Agenda</a></li>
              <li><a href="#" ng-click="eventDetailCtrl.setCurrent('speakers')">Speakers</a></li>
              <li><a href="#" ng-click="eventDetailCtrl.setCurrent('location')">Location</a></li>
              <li><a href="#" ng-click="eventDetailCtrl.navigateTo('/events')">Event List</a></li>
            </ul>
          </nav>
          <div ng-show="eventDetailCtrl.current === 'info'">
            <ng-include src="'includes/eventInfo.html'" />
          </div>
          <div ng-show="eventDetailCtrl.current === 'agenda'">
            <ng-include src="'includes/eventAgenda.html'" />
          </div>
          <div ng-show="eventDetailCtrl.current === 'speakers'">
            <ng-include src="'includes/eventSpeakers.html'" />
          </div>
          <div ng-show="eventDetailCtrl.current === 'location'">
            <ng-include src="'includes/eventLocation.html'" />
          </div>

        </section>
      </div>
    </div>
    <ng-include src="'includes/footer.html'" />

</div>
