<ion-pane>
  <ion-header-bar align-title="left" class="bar-stable">
    <div class="fixed-header">
      <div class="header-section header-eve-icon"><img src="images/eve.svg" border="0"></div>
      <div class="header-section header-event-title">
        <img src="images/eve-text.png" border="0">
      </div>
      <div class="header-section header-menu"></div>
    </div>
  </ion-header-bar>
  <ion-content>

    <div ng-controller="EventsCtrl as eventsCtrl">
        <div class="row">
          <header class="full block">
            <h1 class="next-events">Next events</h1>
            <input type="text" placeholder="Search an event" class="search right" ng-model="eventsCtrl.filter">
          </header>
        </div>
        <div class="row">
          <div class="content">
            <section class="home-grid full block">
                <div ng-hide="eventsCtrl.hideEvent(event)" ng-repeat="event in eventsCtrl.filteredEvents"
                  class="event-home inline-block quarter" ng-click="eventsCtrl.selectEvent(event)">
                  <div class="event-home-info">
                    <a href="###">{{event.name}}</a>
                    <span class="event-home-date">{{event.date}} - {{event.place}}</span>
                  </div>
                  <a href="#"><img ng-src="{{event.logo}}" border="0"></a>
                </div>
            </section>
          </div>
        </div>
        <ng-include src="'includes/footer.html'" />

    </div>
  </ion-content>
</ion-pane>
