<div ng-controller="EventDetailCtrl as eventDetailCtrl">


    <div class="row">
      <header class="full block">
        <div class="eve-logo inline-block"><a href="#"><img src="images/eve-text.png" border="0"></a></div>
        <div class="eve-icon inline-block"><img src="images/eve.svg" border="0"></div>
      </header>
    </div>
    <div class="row">
      <div class="content">
        <section class="event-content">
          <div class="event-header"><i id="talks-nav-icon" class="icon-bubbles"></i>
            <h1 class="full">{{eventDetailCtrl.eventDetail.name}}</h1>
            <nav class="event-nav">
              <ul>
                <li><a href="#" ng-click="eventDetailCtrl.navigateTo('/eventDetail')">Info</a></li>
                <li><a href="event-talks.html">Talks</a></li>
                <li><a href="event-speakers.html">Speakers</a></li>
                <li><a href="#" class="current">Location</a></li>
              </ul>
            </nav><i id="event-nav-icon" class="icon-menu"></i>
          </div>
          <nav class="event-mobile">
            <ul>
              <li><img src="images/eve.svg" border="0" class="icon-eve"></li>
              <li><a href="/eventDetail">Info</a></li>
              <li><a href="event-talks.html">Talks</a></li>
              <li><a href="event-speakers.html">Speakers</a></li>
              <li><a href="#" class="current">Location</a></li>
            </ul>
          </nav>

          <div class="event-location-img"><img ng-src="{{eventDetailCtrl.eventDetail.location.img}}"></div>
          <div class="event-location-text">
            <p>&nbsp;<p>
            <p>{{eventDetailCtrl.eventDetail.location.text}}</p>
          </div>


        </section>
      </div>
    </div>
    <ng-include src="'includes/footer.html'" />

</div>
